a { 
    font-weight:bold;
    background-color:#555;
    color: white;
    padding: 10px;
    margin: 0px;
    text-align:center; 
    text-decoration:none;
}
a:hover{
    background-color: lightgray;
}
body {
    background-image: url(img_ewha.jpg);
    background-size:cover;
}
h1 {
    border: 3px solid white;
    color:white;
    text-shadow: 0px 0px 10px black;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    }
.read {color:gray;}
.mitem {
    font-weight:bold;
    background-color:#555;
    color:white;
    padding:10px;
    margin:0px;
    text-align:center;
    text-decoration: none;
    display: block;
}
.mitem:hover{
    background-color: gray;
}
#now {color:orange;}
#menu {
    display:grid;
    grid-template-columns: auto auto auto auto;
}
#text {
    padding: 10px 20px 10px 20px;
    color:white;
    background-color:rgba(0, 0, 0, 0.5);
    margin : 10px 0 0 0;
    display:block;
}
@media(min-width:600px){
    #layout{
        display: grid; grid-template-columns: auto auto;
    }
    #menu {
        display:block;
    }
    a{
        display:block;
        padding: 13px 10px 10px 10px;
    }
    #text {
        margin: 0 0 0 10px;
    }
}
